<div class="header">
	<div data-dojo-type="app/libs/sidepane/SidePane" data-dojo-props="mode: 'overlay', position:'start'" data-dojo-attach-point="sidePane">
		<h1 data-dojo-type="dojox/mobile/Heading" class="menuHeading">
			<button class="homeIcon" data-dojo-type="dojox/mobile/ToolBarButton" style="float: left"></button>
			<button class="toggler" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="toggler" data-dojo-props="" data-dojo-attach-event="click:toggle"
				style="float: right"></button>
		</h1>
		<div data-dojo-type="dojox/mobile/ScrollableView" class="SWHidden" data-dojo-attach-point="scrollViewSW" style="height: 100%">
			<ul data-dojo-type="dojox/mobile/EdgeToEdgeList" class="scrollList" style="height: 100%;">
				<button id="employerBtn" class="headIcon contact" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="employerBtn"  data-dojo-props="target:'employerList'">${nls.employer}</button>
				<button id="employeeBtn" class="headIcon policies" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="employeeBtn" data-dojo-attach-event="click:showEmployeeList">${nls.employee}</button>
			</ul>
			<div>
				<button class="headIcon logout" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="logoutBtn">${nls.logout}</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="heading">
		<button class="toggler" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="toggler" data-dojo-props="" data-dojo-attach-event="click:toggle"></button>
		<button class="homeIcon headingMid" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="homeBtn"
			data-dojo-props="target:'home',transitionDir:-1"></button>
		<div id="buildInfo" class="buildInfoWrapper" style="float: right"></div>
	</div>
	<div data-dojo-attach-point="successMessage" class="successMessage"></div>
</div>