.taskItem {
	padding-top: 1px;
	line-height: 21px;
	font-weight: normal;
	overflow: visible;
}

.taskItem.dueToday .dueDate {
	color: orange;
}

.taskItem .closeTaskLeft, .taskItem .closeTaskRight {
	width: 65px;
	position: absolute;
	line-height: 43px;
}

.taskItem .closeTaskLeft {
	left: -80px;
}

.taskItem .closeTaskRight {
	right: -83px; /*additional 3px serve as padding*/
}