.dateExpirationPicker .footer{
	position : static;
}
.dateExpirationPicker .footer .mblButton{
	margin-left: 0px;
	margin-right:0px;
	margin-top: 40%;
	margin-bottom : 0px;
}
.dateExpirationPicker{
	background: #F2F5FA !important;
}
.dateExpirationPicker .mblSimpleDialogTitle {
    width: 270px !important;
}