<div class="newClaim">
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="employeeForm">
		<div class="detailBody" data-dojo-type="dojox/mobile/FormLayout" data-dojo-props="columns:'single'">
			<div>
				<label>${nls.name}</label>
				<div>
					<input class="pickerInputBox" data-dojo-type="dojox/mobile/TextBox"
						data-dojo-props="value:at('rel:','name')" placeholder="${nls.name}"
						data-dojo-attach-point="nameTB" required="required" />
				</div>
			</div>
			<div>
				<label>${nls.surname}</label>
				<div>
					<input class="pickerInputBox" data-dojo-type="dojox/mobile/TextBox"
						data-dojo-props="value:at('rel:','surname')" placeholder="${nls.surname}"
						data-dojo-attach-point="surnameTB" required="required" />
				</div>
			</div>
		</div>
	</form>
	<div class="footer">
		<button type="button" data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:createClaim" data-dojo-attach-point="createBtn"
			data-dojo-props="disabled:true" class="primaryBtn">${nls.createEmployee}</button>
	</div>
</div>