<div class="home">
	<img class="logoImage" src="images/imops-logo.png" />
	<!--  -->
	<!-- 	<input data-dojo-attach-point="searchTB" data-dojo-type="dojox/mobile/TextArea" class="searchTB" /> -->
	<label>${nls.username}</label> 
	<input class="pickerInputBox" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="nameTB" /> 
	<label>${nls.password}</label>
	<input class="pickerInputBox" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="passTB" />
	<div class="searchBtns">
		<button class="actionButton" data-dojo-type="dojox/mobile/Button" class="searchBtn" data-dojo-attach-event="click:login">${nls.login}</button>
	</div>
</div>