.home .logoImage {
	display: block;
	margin: auto;
	width: 70%;
	height: auto;
	padding-top: 70px;
	padding-bottom: 40px;
}
.home .successMessage {
	background: -webkit-linear-gradient(90deg, rgb(172, 48, 48) 0%,rgb(191, 96, 96) 100%);
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 100;
	opacity: 0;
}

.home .searchTB {
	width: 98%;
	border-radius: 5px;
}

.home .or {
	padding-top: 10px;
	padding-bottom: 10px;
}

.home {
	text-align: center;
}

.home {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.actionButton {
	margin: 10px;
}

.home.mblButton {
	disabled: false;
}