<div class="home">
	<img class="logoImage" src="images/imops-logo.png" />
	<!--  -->
<!-- 	<input data-dojo-attach-point="searchTB" data-dojo-type="dojox/mobile/TextArea" class="searchTB" /> -->
	<div class="searchBtns">
		<button class="actionButton" data-dojo-type="dojox/mobile/Button"  class="searchBtn" data-dojo-attach-event="click:createNewEmployer">${nls.newEmployer}</button>
		<button class="actionButton" data-dojo-type="dojox/mobile/Button"  data-dojo-attach-event="click:createNewEmployee">${nls.newEmployee}</button>
	</div>
</div>