<div class="home">
	<img class="logoImage" src="images/imops-logo.png" />

	<div class="searchBtns">
		<button type="button" class="actionButton"
			data-dojo-type="dojox/mobile/Button"
			data-dojo-attach-point="createNewEmployer"
			data-dojo-props="onClick:this.createNewEmployer">${nls.newEmployer}</button>
		<button type="button" class="actionButton"
			data-dojo-type="dojox/mobile/Button"
			data-dojo-attach-point="createNewEmployee"
			data-dojo-props="onClick:this.createNewEmployee"
			>${nls.newEmployee}</button>
	</div>
</div>