<div class="claimDetail">
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="employerForm">
		<div class="screenTitleBackground">
			<label class="screenTitle">${nls.employer}</label>
			<ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"segmentedControl",  fixed:"top"'>
				<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showGeneralTab" data-dojo-props='selected:true'>${nls.general}</li>
				<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showTaskTab">${nls.employees}</li>
			</ul>
		</div>
		<div class="detailBody" data-dojo-attach-point="generalPane" data-dojo-type="dojox/mobile/FormLayout" data-dojo-props="columns:'single'">
			<div>
				<label>${nls.companyName}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','name')"></div>
			</div>
			<div>
				<label>${nls.companyID}</label>
				<div>
					<input data-dojo-type="dojox/mobile/TextBox"
						data-dojo-props="value:at('rel:','companyID'), disabled:true" placeholder="${nls.companyID}"
						data-dojo-attach-point="companyIDTB" required="required" />
				</div>
			</div>
			<div>
				<label>${nls.address}</label>
				<div>
					<input data-dojo-type="dojox/mobile/TextBox"
						data-dojo-props="value:at('rel:','address')" placeholder="${nls.address}"
						data-dojo-attach-point="addressTB" required="required"/>
				</div>
			</div>
			<div>
				<label>${nls.email}</label>
				<div>
					<input data-dojo-type="dojox/mobile/TextBox"
						data-dojo-props="value:at('rel:','email')" placeholder="${nls.email}"
						data-dojo-attach-point="emailTB" required="required" />
				</div>
			</div>
		</div>
	</form>

	<div class="pane" data-dojo-type="dojox/mobile/ScrollablePane" data-dojo-attach-point="taskPane">
		<div>
			<span id="dataNotFoundTas" class="dataNotFound" style="display: none">${nls.dataNotFound}</span>
		</div>
		<div class="detailBody" data-dojo-attach-point="taskList" data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin"
			data-dojo-props="labelProperty:'code'"></div>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="showAllBtn" data-dojo-props="hidden:true" class="showAllBtn"
			style="width: 100%; box-sizing: border-box;">${nls.showAll}</button>
	</div>

	<div class="footer">
		<ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"tallTab", fill:"always"'>
			<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showRelatedDlg" data-dojo-attach-point="relatedBtn">${nls.remove}</li>
			<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:saveEmployer" data-dojo-attach-point="saveBtn">${nls.save}</li>
		</ul>
	</div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="relatedDialog" class="functionsDialog" data-dojo-props="closeButton:true">
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:removeEmployer" data-dojo-attach-point="removeEmployerBtn">${nls.removeEmployer}</button>
	</div>
</div>