<div class="claimDetail">
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="claimForm">
		<div class="screenTitleBackground">
			<label class="screenTitle">${nls.claimDetail}</label>
			<ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"segmentedControl",  fixed:"top"'>
				<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showGeneralTab" data-dojo-props='selected:true'>${nls.general}</li>
				<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showTaskTab">${nls.relatedTasks}</li>
				<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showCommentsTab">${nls.comments}</li>
			</ul>
		</div>
		<div id="general" class="detailBody" data-dojo-type="dojox/mobile/FormLayout" data-dojo-props="columns:'single'">
			<div>
				<label>${nls.claimNumber}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','claimNumber')"></div>
			</div>
			<div>
				<label>${nls.policyNumber}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','policyNumber')"></div>
			</div>
			<!-- 			<div> -->
			<!-- 				<label>${nls.claimDate}</label> -->
			<!-- 				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','claimDate').transform('dateString')"></div> -->
			<!-- 			</div> -->
			<div>
				<label>${nls.claimDate}</label>
				<div>
					<input type="datetime-local" data-dojo-type="app/mobile/_common/widgets/DateTextBox" data-dojo-props="value:at('rel:','claimDate')" step="1" />
				</div>
			</div>
			<div>
				<label>${nls.policyProduct}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','policyProduct_name')"></div>
			</div>
			<div>
				<label>${nls.claimType}</label>
				<!-- 				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','claimType_name')"></div> -->
				<div>
					<input class="pickerInputBox" data-dojo-attach-point="claimTypeFS" data-dojo-type="dijit/form/FilteringSelect"
						data-dojo-mixins="app/mobile/_common/widgets/_TooltipMixin"
						data-dojo-props="tooltipText: '${nlsTT.claimTypeTT}' , resolvedItem:at('rel:','resolved:claimType')" />
				</div>
			</div>
			<div>
				<label>${nls.eventCode}</label>
				<div>
					<input class="pickerInputBox" data-dojo-attach-point="eventCodeFS" data-dojo-type="dijit/form/FilteringSelect"
						data-dojo-props="resolvedItem:at('rel:','resolved:eventCode')" />
				</div>
			</div>
			<div>
				<label>${nls.incidentCode}</label>
				<div>
					<input class="pickerInputBox" data-dojo-attach-point="incidentCodeFS" data-dojo-type="dijit/form/FilteringSelect"
						data-dojo-props="resolvedItem:at('rel:','resolved:incidentCode')" />
				</div>
			</div>
			<div>
				<label>${nls.incidentDescription}</label>
				<div>
					<textarea data-dojo-attach-point="incidentDescriptionTA" data-dojo-type="dojox/mobile/TextArea"
						data-dojo-props="resolvedItem:at('rel:','resolved:incidentDescription')"></textarea>
				</div>
			</div>
			<div>
				<label>${nls.consultant}</label>
				<div class="picker">
					<input class="pickerInputBox" data-dojo-type="dojox/mobile/TextBox" data-dojo-mixins="app/mobile/_common/widgets/_PickerMixin"
						data-dojo-props="value:at('rel:','claimConsultant_name')" data-dojo-attach-point="consultantPick" />
					<button class="pickerInputButton" type="button" data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:showConsultantPicker"></button>
				</div>
			</div>
			<div>
				<label>${nls.stateOfLoss}</label>
				<div>
					<input class="pickerInputBox" data-dojo-attach-point="stateOfLossFS" data-dojo-type="dijit/form/FilteringSelect"
						data-dojo-props="resolvedItem:at('rel:','resolved:stateOfLoss')" />
				</div>
			</div>
			<div>
				<label>${nls.countryOfPosting}</label>
				<div>
					<input class="pickerInputBox" data-dojo-attach-point="countryOfPostingFS" data-dojo-type="dijit/form/FilteringSelect"
						data-dojo-props="resolvedItem:at('rel:','resolved:countryOfPosting')" />
				</div>
			</div>
			<div>
				<label>${nls.claimReportDate}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','claimReportDate').transform('dateString')"></div>
			</div>
			<div>
				<label>${nls.policyHolder}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','policyHolder_displayName')"></div>
			</div>
			<div>
				<label>${nls.claimStatus}</label>
				<div data-dojo-type="dojox/mvc/Output" data-dojo-props="value:at('rel:','status_name')"></div>
			</div>
			<div>
				<label class="claimantsLabel">${nls.claimants}</label>
				<div data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-attach-point="claimantsList"></div>
			</div>
			<div>
				<label class="estimatesLabel">${nls.estimates}</label>
				<div data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-attach-point="estimatesList"></div>
			</div>
		</div>
	</form>

	<div id="tasks" class="pane" data-dojo-type="dojox/mobile/ScrollablePane" data-dojo-attach-point="taskPane">
		<div>
			<span id="dataNotFoundTas" class="dataNotFound" style="display: none">${nls.dataNotFound}</span>
		</div>
		<div class="detailBody" data-dojo-attach-point="taskList" data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin"
			data-dojo-props="labelProperty:'code'"></div>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="showAllBtn" data-dojo-props="hidden:true" class="showAllBtn"
			style="width: 100%; box-sizing: border-box;">${nls.showAll}</button>
	</div>
	<div id="comment" class="pane" data-dojo-type="dojox/mobile/ScrollablePane" data-dojo-attach-point="commentPane">
		<div>
			<span id="dataNotFoundCom" class="dataNotFound" style="display: none">${nls.dataNotFound}</span>
		</div>
		<div class="detailBody" data-dojo-attach-point="commentList" data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin"
			data-dojo-props="labelProperty:'code'"></div>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="showAllBtn" data-dojo-props="hidden:true" class="showAllBtn"
			style="width: 100%; box-sizing: border-box;">${nls.showAll}</button>
		<div class="HorizontalFooter">
			<button type="button" data-dojo-type="dojox/mobile/Button" class="iconButton" data-dojo-attach-point="addDoc" data-dojo-attach-event="click:showNewComment" data-dojo-props="disabled:false">${nls.addNew}</button>
			<button type="button" data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="saveCommentBtn" data-dojo-attach-event="click:saveComment" data-dojo-props="disabled:true">${nls.save}</button>
		</div>
		<div id="newComment" class="detailBody" style="display:none">
			<div class="newComment">
				<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="addCommentBtn" data-dojo-attach-event="click:addComment"></button>
				<div class="bottomTextArea">
					<textarea class="commentTextArea" data-dojo-type="dojox/mobile/TextArea" data-dojo-attach-point="newCommentTA"></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"tallTab", fill:"always"'>
			<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showRelatedDlg" data-dojo-attach-point="relatedBtn">${nls.related}</li>
			<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:showActionsDlg" data-dojo-attach-point="actionsBtn">${nls.actions}</li>
			<li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-event="click:saveClaim" data-dojo-attach-point="saveBtn">${nls.saveClaim}</li>
		</ul>
	</div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="relatedDialog" class="functionsDialog" data-dojo-props="closeButton:true">
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:showDocuments" data-dojo-attach-point="documentsBtn">${nls.documents}</button>
	</div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="actionsDialog" class="functionsDialog" data-dojo-props="closeButton:true">
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:showChangeStatusDlg" data-dojo-attach-point="changeStatusBtn">${nls.changeStatus}</button>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:showFunctionsDlg" data-dojo-attach-point="showFunctionsBtn">${nls.functions}</button>
	</div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="changeStatusDialog" class="changeStatusDialog" data-dojo-props="closeButton:true">
	</div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="functionsDialog" class="functionsDialog" data-dojo-props="closeButton:true">
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:createTask">${nls.createTask}</button>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:duplicateClaim">${nls.duplicateClaim}</button>
		<button data-dojo-type="dojox/mobile/Button" data-dojo-attach-event="click:changePolicy">${nls.changePolicy}</button>
	</div>
</div>