<div>
		<!-- a sample heading -->
		<h1 data-dojo-type="dojox/mobile/Heading">Settings</h1>
		<!-- a rounded rectangle list container -->
		<ul data-dojo-type="dojox/mobile/RoundRectList">
			<!-- list item with an icon that slides to a view called "general" -->
			<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="icon:'images/icon-1.png', rightText:'Show',  moveTo:'settings'">General Settings</li>
			<!-- list item with an icon that slides to a view called "general" -->
			<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="icon:'images/icon-3.png', rightText:'Skip', moveTo:'list'">Skip to list of users</li>
		</ul>
</div>