<div>
    <div id="detailsHeading" data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed: 'top', label: 'Help', back:'Back', moveTo:'PersonDetail', transition:'slide', transitionDir:'-1'">
    </div>
    <div id="RectTitle">
        <label><b>Levels of fluency in programming languages:</b></label>
    </div>
    <div id="detailsContainer" data-dojo-type="dojox/mobile/RoundRect">
        <b>Familiar:</b> Can make things work by collaging code snippets together from Stack Overflow and other external referrences
        <br>
        <b>Proficient:</b> Occassional reference to Stack Overflow and external referrences, but have good understanding of what the code is doing
        <br>
        <b>Excellent:</b> Can code without Stack Overflow and minimal referrence to documentations
        <br>
        <b>Expert:</b> Understands internals of the language. For example, for Java, expert should understand internals of Java to the point they can read Java code and translate it to bytecode in his head
        <br>
    </div>
</div>